<div class="city-page">
  <div class="city-splash">
    <h1>Welcome to <%= @location[:name] %></h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
  </ol>
  <div class="city-show col-xs-9 col-sm-6 col-md-4 col-lg-3">
    <% if @location.items.nil? %>
      <h2>We're sorry, but there are currently no items for this location right now</h2>
    <% else %>
      <h2>Items for this location: </h2>
      
      <div class="row location-aligned">
        <% @location.items.each do |item| %>
        <div class="single-item">
          <div class="single-item-image">
            <ul><%= image_tag(item[:image], width: "300", height: "300") %></ul>
          </div>
          <div class="caption">
            <ul><%= item[:name] %></ul>
            <ul><%= item[:location] %></ul>
          <% end %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
